<div class="cv_block">
  <div class="address">
    <div>
      <h2>Lviv, Ukraine </h2>
      <h3>E-mail: kostamtik@gmail.com</h3>
      <h3>Cell: +38 068 056 94 86</h3>
      <h3>Skype: Vitalii Kosyk</h3>
      <h3><a href="https://t.me/KosykV">Telegram</a></h3>
    </div>

    <div class="username">VITALII KOSYK</div>
    <div class="photo">
<!--      <img src="1567022433819%20.jpg" alt="profile">-->
      <img src="assets/my_photo.png" alt="profile">
    </div>

  </div>

  <div class="job">
    <div>About my job</div>
    <div>
      <h3>
        Lviv Danylo Halytskyi International Airport, Lviv, Ukraine
      </h3>
      <h3>2012 July – present</h3>
    </div>
  </div>

  <div class="education">
    <h2>Specialist’s Degree in Specialized Computer Systems.
    </h2>
    <h2>Lviv Polytechnic National University</h2>
    <h2>2003-2009</h2>
  </div>
</div>
