.cv_block{
  display: flex;
  flex-wrap: wrap;
  height: 91.7vh;
  flex-direction: column;
  column-gap: 5px;
  row-gap: 10px;
  padding: 20px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
  background: rgb(149,149,149); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.address{
  border: 4px solid snow;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font-family: "Courier, monospace", cursive;
  color: snow;

}
.photo{
  border: 4px solid snow;
  /*background-image: url("1567022433819 .jpg");*/
}
.job, .education{
  padding: 15px 15px 15px 150px;
  display: flex;
  flex-wrap: wrap;
  color: snow;
  justify-content: center;
  border: 4px solid snow;
  flex-direction: column;
  align-items: flex-start;
}


 .username {
   font-size: 40px;
   color: snow;
   font-weight: bold;
   font-family: "Courier, monospace", cursive;
}
