.actorPosterDescription{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 5px;
  align-items: center;
}

.actorPoster{
  width: 100%;
  display: flex;
  align-items: flex-start;

}
.actorPosterDescription h5 {
  font-family: Monotype Corsiva, sans-serif;
  color: #c0c0c0;
  margin: 0;
  font-size: 16px;
}


.actorDetail, .actorDetailLight{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}

.actorPoster img {
  width: 100%;
  margin: 0 auto;
}.actorDetail:hover{
  background: #036093;
   box-shadow: 0 0 0 0.25rem rgba(207, 71, 245, 0.5);
 }
