<div class="detailCard" *ngIf="selectedFilm" [ngStyle]="bkUrl">
  <div class="movieDetail">

    <div class="moviePoster" *ngIf="movieImages">
      <img src='{{movieImages}}{{selectedFilm.poster_path}}' alt='{{selectedFilm.original_title}}'/>
    </div>

    <div class="moviePosterDescription">
      <div class="genreList">
        <h1>
          {{selectedFilm.title}}
        </h1>
        <h4>
          ({{selectedFilm.release_date.split('-')[0]}})
          {{selectedFilm.release_date}}
          <span *ngFor="let genre of selectedFilm.genres"> {{genre['name']}}</span>
          {{movieRuntime}}
        </h4>
      </div>

      <h4><em>{{selectedFilm.tagline}}</em></h4>
      <h4>{{selectedFilm.overview}}</h4>

      <h3><a href="{{selectedFilm.homepage}}">{{selectedFilm.homepage}}</a></h3>
      <div class="movieMark">
        <h3>{{selectedFilm.vote_average}} / 10</h3>
      </div>
      <div>
        <app-rating-form></app-rating-form>
      </div>
    </div>
  </div>
  <app-actors></app-actors>
</div>
